<div class="navbar navbar-default navbar-fixed-top">
     <div class="container">

       <div class="navbar-header pull-left">
        <!-- <a class="navbar-brand" routerLink="/">Back</a> -->
       </div>
       <div class="navbar-header pull-right">
          <button type="button" class="navbar-toggle"
                 data-toggle="collapse" data-target=".navbar-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
       </div>

       <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           <li><a routerLink="/">Home</a></li>
           <li class="active"><a routerLink="/">Search & Track</a></li>
           <li><a href="http://ea.16mb.com/portfolio.html">Portfolio</a></li>
         </ul>
       </div>

   </div>
 </div><br/><br/><br/>

<h4>Food items <h4>
<div style="padding-left: 10px; max-width: 1000px;">
<div>
<div class="input-field inline">
  Search by food name
    <input #filterString id="filter" type="text" placeholder="kaura, maito, kana..." class="validate" (input)="searchItems(filterString.value)">
  </div>
</div>
<div class="table-responsive">
<table class="table" style="">
  <thead>
    <tr>
        <th data-field="firstName">Name</th>
        <th data-field="lastName">Energy/100g</th>
        <th data-field="birthDate">Portition</th>
        <th style="width: 300px;"></th>
        <th>Add</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let searchitem of searchitems">
      <!-- <td><a [routerLink]="['/employee-edit',searchitem._id]"><i class="material-icons center">mode_edit</i></a></td> -->
      <td contenteditable='false'>{{searchitem.name.fi}}</td>
      <td>{{this.Math.round(searchitem.energyKcal)}} (kcal)</td>
      <td>{{searchitem.units[1].mass}}g</td>
      <td *ngIf="!searchitem.editing">
        <div *ngIf="searchitem.selecting">
            Amount (units, see portition)<input [(ngModel)]="searchitem.amount" value={{searchitem.amount}} (ngModelChange)="changePortitionAmount($event);searchitem.grams=0;" type="number">
            Amount (grams)<input [(ngModel)]="searchitem.grams" value={{searchitem.grams}} (ngModelChange)="changeGramAmount($event);searchitem.amount=0;" type="text">
            <a (click)="addAmount(searchitem); $event.stopPropagation();searchitem.selecting=false;"><i class="btn btn-success waves-effect waves-light">Add to list</i></a>
        </div>
      </td>
      <td *ngIf="!searchitem.selecting"><a (click)="checkSearchItem(searchitem); $event.stopPropagation()"><i class="btn btn-success waves-effect waves-light">+</i></a></td>
      <td *ngIf="searchitem.selecting"><a (click)="checkSearchItem(searchitem); $event.stopPropagation()"><i class="btn btn-warning waves-effect waves-light">-</i></a></td>
    </tr>
  </tbody>
</table>
<a *ngFor="let pageButton of pageButtons" (click)="changePage(pageButton.firstPage, pageButton.filter); $event.stopPropagation()"><i class="btn btn-success waves-effect waves-light">{{pageButton.firstPage}} - {{pageButton.lastPage}}</i></a>
</div>
<br/>
Week number: {{weekNumber}}
<a (click)="changeWeek($event); $event.stopPropagation()"><i class="btn btn-success waves-effect waves-light" id="previous"><< Previous week</i></a>
<a (click)="changeWeek($event); $event.stopPropagation()"><i class="btn btn-success waves-effect waves-light" id="next">Next week >></i></a><br/>
<li *ngFor="let dayButton of dayButtons" style="display:inline;">
<a *ngIf="!dayButton.diaryDateActive" (click)="changeDay(dayButton.fulldate); $event.stopPropagation()"><i class="btn btn-success waves-effect waves-light" style="">{{dayButton.date}} {{dayButton.name}}</i></a>
<a *ngIf="dayButton.diaryDateActive" (click)="changeDay(dayButton.fulldate); $event.stopPropagation()"><i class="btn btn-success waves-effect waves-light" style="border: 2px solid red;">{{dayButton.date}} {{dayButton.name}}</i></a>
</li>
<table class="table" style="">
  <thead>
    <tr>
        <th data-field="Name">Name</th>
        <th data-field="Energy">Energy</th>
        <th data-field="Portition">Portition</th>
        <th data-field=""></th>
        <th></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
      <tr *ngIf="diaryitems?.length < 1">
        <td>No items for this day</td>
      </tr>
    <tr *ngFor="let diaryitem of diaryitems">
      <!-- <td><a [routerLink]="['/employee-edit',searchitem._id]"><i class="material-icons center">mode_edit</i></a></td> -->
      <td contenteditable='false'>{{diaryitem.foodName}}</td>
      <td>{{this.Math.round(diaryitem.energy)}} (kcal)</td>
      <td>{{diaryitem.info}}</td>
      <td>F {{this.Math.round(diaryitem.totalFat)}}</td>
      <td>C {{this.Math.round(diaryitem.totalCarbs)}}</td>
      <td>P {{this.Math.round(diaryitem.totalProtein)}}</td>

        <div *ngIf="diaryitem.selecting">
            Amount (units, see portition)<input [(ngModel)]="diaryitem.amount" value={{diaryitem.amount}} (ngModelChange)="changePortitionAmount($event);diaryitem.grams=0;" type="number">
            Amount (grams)<input [(ngModel)]="diaryitem.grams" value={{diaryitem.grams}} (ngModelChange)="changeGramAmount($event);diaryitem.amount=0;" type="text">
            <a (click)="updateAmount(diaryitem); $event.stopPropagation();diaryitem.selecting=false;"><i class="btn btn-success waves-effect waves-light">update</i></a>
        </div>

      <td *ngIf="!diaryitem.selecting"><a (click)="checkItem(diaryitem); $event.stopPropagation()"><i class="btn btn-warning waves-effect waves-light">edit</i></a></td>
      <td *ngIf="diaryitem.selecting"><a (click)="checkItem(diaryitem); $event.stopPropagation()"><i class="btn btn-warning waves-effect waves-light">cancel</i></a></td>
      <td><a (click)="removeItem(diaryitem); $event.stopPropagation()"><i class="btn btn-danger waves-effect waves-light">delete</i></a></td>
    </tr>
  </tbody>
</table>
<p *ngIf="diaryitems?.length > 0">Today's macros:</p>
<table class="table" style="" *ngIf="diaryitems?.length > 0">
  <thead>
    <tr>
        <th>Energy</th>
        <th>Fat</th>
        <th>Carbs</th>
        <th>Protein</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- <td><a [routerLink]="['/employee-edit',searchitem._id]"><i class="material-icons center">mode_edit</i></a></td> -->
      <td>{{this.Math.round(totalCalories)}} kcal</td>
      <td>{{this.Math.round(totalFat)}} g</td>
      <td>{{this.Math.round(totalCarbs)}} g</td>
      <td>{{this.Math.round(totalProtein)}} g</td>
    </tr>
  </tbody>
</table>
<div id="toast-container" style="top: auto !important; left: auto !important; bottom: 10%; right:5%;"></div>
</div>
