<div class="navbar navbar-default navbar-fixed-top">
     <div class="container">

       <div class="navbar-header pull-left">
       </div>
       <div class="navbar-header pull-right">
          <button type="button" class="navbar-toggle"
                 data-toggle="collapse" data-target=".navbar-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
       </div>

       <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           <li class="active"><a routerLink="/">Home</a></li>
           <li><a routerLink="/searchitems">Search & Track</a></li>
           <li><a href="https://ea.16mb.com/portfolio.html">Portfolio</a></li>
         </ul>
       </div>

   </div>
 </div><br/>

  <div class="section no-pad-bot" >
      <div class="container">
          <br>
          <h1 class="header center green-text">Fineli Food Diary App</h1>
          <div class="row center">
          <h5 class="header col s12 light">This application uses the Fineli REST API with Angular 4 (with Typescript)</h5>
          </div>
          <br>
          <h5 class="center"><button class="btn btn-success waves-effect waves-light" routerLink="/searchitems">Start tracking!</button></h5>
      </div>
  </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><span class="glyphicon glyphicon-search"></span></h2>
              <h5 class="center"><strong>Add your daily food</strong></h5>
              <p class="light">Search almost every food from the Fineli database and add it to your food diary. Just find the food and add the right amount (portions or grams).
              You'll get the food's energy, fat, carbohydrates and protein. The data has a governmental support and is legit!</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><span class="glyphicon glyphicon-plus"></span></h2>
              <h5 class="center"><strong>Have your weekly calendar</strong></h5>
              <p class="light">The diary displays one week from Monday to Sunday. You can change the week easily and see the date and day of the week. If you know the week,
              the app does the rest!</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><span class="glyphicon glyphicon-info-sign"></span></h2>
              <h5 class="center"><strong>Energy and macros</strong></h5>
              <p class="light">The calendar shows the amount of energy, fat, carbohydrates and protein you've gotten in a certain day. All you need to do is to add the right
              amount of the food or drink you've gotten that day.</p>
            </div>
          </div>
        </div>

      </div>
      <br><br>
      <div class="section">
      </div>
    </div>
